{{#link-to 'lineup.new'}}New{{/link-to}}
<h1>{{#if showPublished}}Published{{else}}Un-Published{{/if}} Lineups</h1>

<div>
  <a href="#" {{bind-attr class="showPublished:active"}} {{action "showPublished"}}>Published</a>
  <a href="#" {{bind-attr class="showPublished:inactive:active"}} {{action "showUnpublished"}}>Unpublished</a>
</div>

<ul>
{{#each filteredLineups}}
  <li>
    {{#link-to 'lineup' this}}{{title}}{{/link-to}}
    <strong>Created: {{ created_at }}</strong>
    {{#link-to "lineup.edit" this}}Edit{{/link-to}}
  </li>
{{/each}}
</ul>


{{#if recordsAvailable}}
  {{#if loadingMore}}
    <button disabled>Loading....</button>
  {{else}}
    <button {{action "loadMore"}}>Load More</button>
  {{/if}}
{{/if}}

<p>Page: {{ page }}</p>
<p>Pages: {{ pages }}</p>
<p>Total: {{ total }}</p>